<section class="service-banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-11 m-auto">
        <div class="vh-100">
          <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="block-content">
              <!-- <div class="text-center position-absolute w-100 start-0  end-0">
                <img src="../../assets/img/services/white.svg" alt="" class="">
              </div> -->
              <div class="d-flex flex-row w-100">
                <h1 class="d-none d-sm-block d-md-block d-lg-block d-xl-block d-xxl-block" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">We don't do </h1>
                <h1 class="d-flex d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none align-items-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">We don't</h1>
                <div id="lottie"></div>
              </div>
              <!-- mobile -->
              <h1 class="d-block d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">do one</h1>
              <h1 class="csm d-block d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"> size fits all</h1>
              <!-- mobile -->
              <h1 class="csm d-none d-sm-block d-md-block d-lg-block d-xl-block d-xxl-block" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">one size fits all</h1>
              <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">Our services are tailored to the needs of your brand.</p>
            </div>

          </div>
          <p class="p32 head position-relative w-100 start-0  end-0 d-block d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"> We do it real </p>
        </div>
      </div>
    </div>
    <!-- <div class="position-absolute  banner-left-content">
			<p>Creative agency based in Dubai, </p>
			<p>United Arab Emirates</p>
			<p class="text-color">+971 52 7930781</p>
		</div> -->
  </div>
</section>
<!-- banner content ends-->
<!-- we do section-->
<section id="wedo-section" class="wedo-section " data-scroll-index="0">
  <div class="container-fluid d-none d-sm-block d-md-block d-lg-block d-xl-block d-xxl-block">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="we-do">
          <div class="row">
            <div class="col-xxl-12">
              <p class="p32 head" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"> We do it real </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services section-->
<!--First service starts-->
<section id="services1" class="services" data-scroll-nav="0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row">
          <div class="col-xl-6 offset-xl-1 col-md-7 offset-md-1 col-sm-6 order-sm-1 order-2" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
            <div class="d-flex flex-column justify-content-between h-100 service-content">
              <h1><span class="color1">Branding</span> that lets you in & gets you an ear</h1>
              <div class="points">
                <p>Research | Strategy | Design</p>
                <p>Identity | Brandbook & more…</p>
              </div>
              <p (click)="navigateToLink('branding')" class="link">Let us <span class="barcelony">listen</span> to your story</p>
            </div>
          </div>
          <div class="col-xl-4 offset-xl-1 col-md-4 col-sm-6 order-sm-2 order-1"  data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
            <div class="img-block">
              <img src="{{baseUrl}}/img/services/branding.jpg" alt="" class="w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--First service ends-->
<!--Second service starts-->
<section id="services2" class="services" data-scroll-nav="1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row">
          <div class="col-xl-4 col-md-4 col-sm-6"  data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
            <div class="img-block">
              <img src="{{baseUrl}}/img/services/dnour-website.jpg" alt="" class="w-100">
            </div>
          </div>
          <div class="col-xl-6 offset-xl-1 col-md-6 offset-md-1 col-sm-6" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
            <div class="d-flex flex-column justify-content-between h-100 service-content">
              <h1><span class="color1">Website</span> that tells your story which connects</h1>
              <div class="points">
                <p>Static | Dynamic</p>
                <p>Ui/Ux & more…</p>
              </div>
              <p (click)="navigateToLink('website')" class="link">Let's <span class="barcelony">tell</span> your story</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Second service ends-->


<!--third service starts-->
<section id="services3" class="services" data-scroll-nav="2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row">
          <div class="col-xl-6 offset-xl-1 col-md-6 offset-md-1 col-sm-6 order-sm-1 order-2" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
            <div class="d-flex flex-column justify-content-between h-100 service-content">
              <h1><span class="color1">eCommerce</span> that helps you sell </h1>
              <div class="points">
                <p>Magento 2++ Website Development</p>
                <p>Customised eCommerce Solutions</p>
                <p>Payment Gateway Integration</p>
                <p>& more…</p>
              </div>
              <p (click)="navigateToLink('eCommerce')" class="link">Let us <span class="barcelony">help you</span> sell</p>
            </div>
          </div>
          <div class="col-xl-4 offset-xl-1 col-md-4 offset-md-1 col-sm-6 order-sm-2 order-1" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
            <div class="img-block">
              <img src="{{baseUrl}}/img/services/ecommerce.jpg" alt="" class="w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--third service ends-->

<!--fourth service starts-->
<section id="services4" class="services" data-scroll-nav="3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row">
          <div class="col-xl-4 col-md-4 col-sm-6" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
            <div class="img-block">
              <img src="{{baseUrl}}/img/services/enterprises.jpg" alt="" class="w-100">
            </div>
          </div>
          <div class="col-xl-7 offset-xl-1 col-md-7 offset-md-1 col-sm-6" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
            <div class="d-flex flex-column justify-content-between h-100 service-content">
              <h1><span class="color1">Enterprise Solutions</span> that automates your process</h1>
              <div class="points">
                <p>Web Based Apps</p>
                <p>eCom Management Solutions</p>
                <p>Business Management Solutions</p>
                <p>& more…</p>
              </div>
              <p (click)="navigateToLink('enterprice')" class="link">Let's <span class="barcelony">automate</span> it</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--fourth service ends-->
<!--fifth service starts-->
<section id="services5" class="services" data-scroll-nav="4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row">
          <div class="col-xl-6 offset-xl-1 col-md-6 offset-md-1 col-sm-6 order-sm-1 order-2" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
            <div class="d-flex flex-column justify-content-between h-100 service-content">
              <h1><span class="color1">SEO</span> solution that spreads the word</h1>
              <div class="points">
                <p>Organic SEO | Site Mapping</p>
                <p>Google Ads | Social Media Integration</p>
                <p>& more…</p>
              </div>
              <p (click)="navigateToLink('seo')" class="link">Let us <span class="barcelony">spread</span> your word</p>
            </div>
          </div>
          <div class="col-xl-4 offset-xl-1 col-md-4 offset-md-1 col-sm-6 order-sm-2 order-1" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
            <div class="img-block">
              <img src="{{baseUrl}}/img/services/seo.jpg" alt="" class="w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--fifth service ends-->
<!-- Services section-->
<!-- capbilities section-->
<section class="bg-black">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10  offset-xl-1">
        <div class="row">
          <div class="col-md-3">
            <div class="cap">
              <p class="p28 head" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100"> Capabilities </p>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="list">
                  <p class="p32" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
                    Strategy
                  </p>
                  <ul class="p-0" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">

                    <li> <a href="#">Research</a></li>
                    <li> <a href="#">UI/UX audit </a></li>
                    <li> <a href="#">Stakeholder workshops</a></li>
                    <li> <a href="#">Product strategy</a></li>
                    <li> <a href="#">Innovation consulting</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="list">
                  <p class="p32" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">Design</p>
                  <ul class="p-0" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
                    <li> <a href="#">UI/UX design</a></li>
                    <li> <a href="#">Brand identity </a></li>
                    <li> <a href="#">Websites and mobile apps</a></li>
                    <li> <a href="#">Visual design</a></li>
                    <li> <a href="#">Prototyping and testing</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="list">
                  <p class="p32" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">Development</p>
                  <ul class="p-0" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">
                    <li> <a href="#">HTML/CSS/JS</a></li>
                    <li> <a href="#">React/Angular </a></li>
                    <li> <a href="#">Backend/API integrations</a></li>
                    <li> <a href="#">Magento 2++</a></li>
                    <li> <a href="#">Web based apps</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="list">
                  <p class="p32" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">Content</p>
                  <ul class="p-0" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="100">

                    <li> <a href="#">Copywriting</a></li>
                    <li> <a href="#">Video </a></li>
                    <li> <a href="#">Animation</a></li>
                    <li> <a href="#">Iconography</a></li>
                    <li> <a href="#">2D graphics</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- capbilities section-->
<div class="line"></div>
