<section class="service-banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="vh-100">
          <div class="block-content d-flex flex-column justify-content-center h-100">
            <!-- <div class="text-center position-absolute w-100 start-0  end-0">
              <img src="../../assets/img/services/white.svg" alt="" class="">
            </div> -->
            <h1>Creativity.Identity.</h1>
            <h1>Visual.GoulBrand.</h1>
            <h1>Customer</h1>
            <p>Whether it’s a birth or an evolution of a brand, nothing stands out unless it has a soul. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner content ends-->
<!-- we do section-->
<section id="wedo-section" class="wedo-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="we-do">
          <div class="row">
            <div class="col-xxl-3 col-xl-4 p-xl-end-0">
              We do it real
            </div>
            <div class="col-xxl-9 col-xl-8 p-xl-start-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores accusantium velit corporis itaque illo
              quisquam libero molestiae quo perferendis, eum quod rem possimus eos saepe, et aut similique amet totam?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services section-->
<!--First service starts-->
<section id="services1" class="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row">
          <div class="col-xl-7 offset-xl-1">
            <div class="d-flex flex-column justify-content-between h-100 service-content">
              <h1>Branding that lets you in & gets you an ear</h1>
              <div class="points">
                <p>Research | Strategy | Design</p>
                <p>Identity | Brandbook <a href="">& more…</a></p>
              </div>
              <p class="barcelony">Let us listen to your story</p>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="img-block">
              <img src="../../assets/img/services/service1.png" alt="" class="w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--First service ends-->
<!--Second service starts-->
<section id="services2" class="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row">
          <div class="col-xl-4">
            <div class="img-block">
              <img src="../../assets/img/services/service2.png" alt="" class="w-100">
            </div>
          </div>
          <div class="col-xl-6 offset-xl-1">
            <div class="d-flex flex-column justify-content-between h-100 service-content">
              <h1>Website that tells your story which connects</h1>
              <div class="points">
                <p>Static | Dynamic</p>
                <p>Ui/Ux <a href="">& more…</a></p>
              </div>
              <p class="barcelony">Let’s tell your story</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Second service ends-->


<!--third service starts-->
<section id="services3" class="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row">
          <div class="col-xl-7 offset-xl-1">
            <div class="d-flex flex-column justify-content-between h-100 service-content">
              <h1>eCommerce that helps you sale</h1>
              <div class="points">
                <p>Magento 2++ Website Development</p>
                <p>Customised eCommerce Solutions</p>
                <p>Payment Gateway Integration</p>
                <p><a href="">& more…</a></p>
              </div>
              <p class="barcelony">Let us help you sell</p>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="img-block">
              <img src="../../assets/img/services/service1.png" alt="" class="w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--third service ends-->

<!--fourth service starts-->
<section id="services4" class="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row">
          <div class="col-xl-4">
            <div class="img-block">
              <img src="../../assets/img/services/service2.png" alt="" class="w-100">
            </div>
          </div>
          <div class="col-xl-6 offset-xl-1">
            <div class="d-flex flex-column justify-content-between h-100 service-content">
              <h1>Enterprise Solutions that automates your process</h1>
              <div class="points">
                <p>Web Based Apps</p>
                <p>eCom Management Solutions</p>
                <p>Business Management Solutions</p>
                <p><a href="">& more…</a></p>
              </div>
              <p class="barcelony">Let us listen to your story</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--fourth service ends-->
<!--fifth service starts-->
<section id="services5" class="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row">
          <div class="col-xl-7 offset-xl-1">
            <div class="d-flex flex-column justify-content-between h-100 service-content">
              <h1>SEO solution that spreads the word</h1>
              <div class="points">
                <p>Organic SEO | Site Mapping</p>
                <p>Google Ads | Social Media Integration</p> 
                <p><a href="">& more…</a></p>
              </div>
              <p class="barcelony">Let us spread your word</p>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="img-block">
              <img src="../../assets/img/services/service1.png" alt="" class="w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--fifth service ends-->
<!-- Services section-->