.service-banner{
  .block-content{ 
  background: url('../../assets/img/services/white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  opacity: 0.5;
  h1{
    font-size: 60px;
    font-weight: bold;
  }
  p{
    font-size: 32px;
    font-weight: 500;
  }
}
}
.services .service-content{
  h1{
    font-size: 60px;
    font-weight: bold;
  }
  p{
    font-size: 34px;
    font-weight: 500;
  }
}
.color1{
  color: #DA9777;
}
.barcelony{
font-family: "barcelony";
font-size: 52px !important;
}
