.contactsection {
  // min-height: 100vh;
  // height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
  @media (max-width: 991px) {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
  }
  .contact-form {
    form {
      @media (max-width: 991px) {
        width: 100%;
      }
      .form-floating {
        @media (max-width: 767px) {
          margin: 0px 50px;
        }
        @media (max-width: 380px) {
          margin: 0px 30px;
        }
      }
      input {
        color: #101010;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #dddddd;
        &:focus {
          border-color: #878787;
        }
      }
      textarea {
        color: #101010;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #dddddd;
        &:focus {
          border-color: #878787;
        }
      }
      .detail {
        width: 100%;
        ul {
          list-style: none;
          padding-left: 0;
          li {
            margin: 0px 10px 10px 0;
            position: relative;
            z-index: 1;
            .button {
              background-color: transparent;
              padding: 3px 16px;
              text-decoration: none;
              border: 1px solid #707070;
              color: #878787;
              border-radius: 30px;
              font-weight: 600;
              &:hover {
                color: #da9777;
                background: #1d1d1f;
              }
              @media (max-width: 1199px) {
                padding: 4px 10px;
              }
            }
            .button.active {
              color: #da9777;
              background: #1d1d1f;
            }
          }
        }
      }
      .submit {
        background: transparent;
        color: #da9777;
        border: 2px solid #da9777;
        padding: 5px 30px;
        border-radius: 30px;
        font-weight: 600;
        &:hover {
          background: #da9777;
          color: #fff;
        }
        &:focus {
          background: #da9777;
          color: #fff;
          border-color: #da9777;
        }
        @media (max-width: 575px) {
          padding: 8px 50px;
          font-size: 16px;
        }
      }
      .submit:disabled {
        opacity: 0.3;
      }
      li.opacity-0.position-absolute {
        z-index: 0;
      }
    }
    .error {
      color: #ff3333;
    }
  }
  .contact-content {
    @media (max-width: 1366px) {
      display: flex;
      align-items: center;
    }
    @media (max-width: 767px) {
      margin-top: 50px;
      text-align: center;
    }
    .describe {
      img {
        // width: 150px;
        height: 180px;
        margin-bottom: 80px;
        @media (max-width: 1366px) {
          margin-bottom: 50px;
          height: 150px;
        }
        @media (max-width: 1199px) {
          // width: 100px;
          height: 140px;
        }
        @media (max-width: 991px) {
          height: 100px;
          margin-bottom: 40px;
        }
        @media (max-width: 767px) {
          margin-bottom: 10px;
        }
      }
      // .call h1 {
      //   font-size: 106px;
      //   font-weight: 800;
      //   color: #000;
      //   @media (max-width: 1199px) {
      //     font-size: 80px;
      //   }
      //   @media (max-width: 991px) {
      //     font-size: 60px;
      //   }
      // }
      @media (max-width: 767px) {
        text-align: center;
      }
    }
    .short-desc {
      width: 530px;
      font-size: 22px;
      font-weight: 500;
      @media (max-width: 1199px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        font-size: 18px;
      }
      @media (max-width: 575px) {
        font-size: 16px;
      }
    }
  }
}
.form-control,
.input-group-addon,
.tagsinput,
.navbar,
.navbar .alert,
.carousel-control.right,
.carousel-control.left {
  transition: all 400ms linear;
}
