.contact-form{
  form{
    input{
      color: #878787;
      border: none;
      border-radius: 0;
      border-bottom:1px solid #DDDDDD;
      &:focus{
        border-color: #878787;
      }
    }
    textarea{
      color: #878787;
      border: none;
      border-radius: 0;
      border-bottom:1px solid #DDDDDD;
      &:focus{
        border-color: #878787;
      }
    }
    .detail {
      width: 100%;
      ul {
        list-style: none;
        padding-left: 0;
        li {
          margin: 0px 10px 0 0;
          a {
            padding: 5px 20px;
            text-decoration: none;
            border: 1px solid #707070;
            color: #878787;
            border-radius: 30px;
            &:hover {
              color: #da9777;
              background: #1d1d1f;
            }
            &:focus {
              color: #da9777;
              background: #1d1d1f;
            }
            &:active {
              color: #da9777;
              background: #1d1d1f;
            }
            @media(max-width:1199px){
              padding: 4px 10px;
            }
          }
        }
      }
    } 
    .submit{
      background: transparent;
    color: #DA9777;
    border: 2px solid #DA9777;
    padding: 5px 30px;
    border-radius: 30px;
    font-weight: 600;
    &:hover{
      background: #DA9777;
      color: #fff;
    }
    &:focus{
      background: #DA9777;
      color: #fff;
    }
    }
  }
}  
.contact-content{
  .describe{
    img{
      width: 150px;
      height: 150px;
      @media(max-width:991px){
        width: 100px;
      height: 100px;
      }
    }
    .call h1{
      font-size: 106px;
      font-weight: 800;
      color: #000;
      @media(max-width:1199px){
        font-size: 80px;
      }
      @media(max-width:991px){
        font-size: 60px;
      }
    }
  }
  .short-desc{
    width:530px;
    font-size: 22px;
    font-weight: 500;
    @media(max-width:1199px){
      width: 100%;
    }
  }
}