<section class="project">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 order-lg-1 order-md-2 order-sm-2 order-2">
        <div class="banner-content">
          <h1>D'NOUR</h1>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2 order-md-1 order-sm-1 order-1">
        <div class="bannerimg">
          <img src="{{baseUrl}}/img/projects/dnour.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-3 order-lg-3 order-md-3 order-sm-3 order-3">
        <div class="banner-content">
          <p>
            End-to-end customer service.
            Snapcall is the easy way to
            chat live with an agent.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="brand-detail">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3">
        <div class="d-xl-flex d-lg-flex d-block align-items-center justify-content-center">
          <div class="left-content">
            <div class="row">
              <div class="col-lg-12 col-md-4 col-sm-5 col-6">
                <h3>Services</h3>
                <p>Branding</p>
                <p>UX/UI Design</p>
                <p>Development</p>
              </div>
              <div class="col-lg-12 col-md-4 col-sm-5 col-6">
                <div class="startdate">
                  <h3>Date</h3>
                  <p>January 2020</p>
                </div>
                <hr class="d-xl-block d-lg-block d-none" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7">
        <div class="right-content">
          <h1>Hello I'm listening ...</h1>
          <p>Snapcall is the little green button that answers everything. All you need to do is place it at the bottom
            of a site's page in order to provide efficient and human-powered customer service. Easy to set up and quick
            to use, it connects users and agents by placing people at the heart of the customer service experience.</p>
          <p class="mb-0 mt-md-5 mt-sm-4 mt-3"><a href="https://dnour.com" target="_blank">D'NOUR <span
                class="barcelony">Online</span></a> </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="begins">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
        <h1>Careful from start to finish.</h1>
        <p>Our challenge was using the hyperlink as a creative starting point and letting our imagination free to
          incorporate the concept throughout the site. The design of Snapcall is based on the notion of exchange, a
          connection between two people, the transmission of words and advice, the flow of information sent and
          received. The green used signifies commitment, validation, and trust. Daring colors and a real-life aesthetic
          made the final proposal unique and lasting.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="websketch">
          <img src="{{baseUrl}}/img/projects/website.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="match">
          <h1>Mix & Match.</h1>
          <p>Dare to create surprising mixtures by combining a shade of green with a sparkling blue and a bubbly yellow.
            Soften the visual concept by playing with rounded, elegant, and undulating patterns. Give character and
            presence to the content by using bold typography with square proportions. These were all bold challenges
            that our creative team was happy to take on.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="colorpallates">
          <img src="{{baseUrl}}/img/projects/colorimg.jpg" alt="colorimage">
        </div>
      </div>
    </div>
  </div>
</section>