<section class="cbanner">
	<div class="container-fluid">
		<!-- <h1 class=" d-flex flex-row align-items-center logotext"><span> ingeniouspix </span></h1> -->
		<div class="row">
			<div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1">

				<div class="banner vh-100">
					<div class="d-flex flex-column justify-content-center h-100 align-items-center">
						<div class="contentbl">
							<h1 class="h1 d-none d-sm-block d-md-block d-lg-block d-xl-block d-xxl-block" data-aos="fade-up"
								data-aos-duration="1000" data-aos-delay="100">Brand.Ui/Ux.
								<span class="barcely">Design</span><span class="dot">.</span>
							</h1>
							<h1 class="h1 d-none d-sm-block d-md-block d-lg-block d-xl-block d-xxl-block" data-aos="fade-up"
								data-aos-duration="1500" data-aos-delay="200">E-com.Development. </h1>

							<!-- ************************* mobile screen **************************** -->
							<h1 class="h1 d-block d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none" data-aos="fade-up"
								data-aos-duration="1000" data-aos-delay="100">Brand.Ui/Ux.</h1>

							<h1 class="h1 d-block d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none" data-aos="fade-up"
								data-aos-duration="1500" data-aos-delay="200">
								<span class="barcely" data-aos="fade-up" data-aos-duration="1000">Design</span><span
									class="dot">.</span>E-com.
							</h1>

							<h1 class="h1 d-block d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none" data-aos="fade-up"
								data-aos-duration="2000" data-aos-delay="300">Development. </h1>
							<!-- **************************  mobile screen ***************************** -->


							<h1 class="h1" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300" data-aos-once='true'>SEO &
								more...</h1>
							<p data-aos="fade-up" data-aos-duration="2500" data-aos-delay="400">Building your business through
								creativity, is our business!</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="position-absolute  banner-left-content">
			<p>Creative agency based in Hubli, </p>
			<p>Karnataka, India</p>
			<p class="text-color">+91 9845770808</p>
		</div>
		<div class="position-absolute start-50 translate-middle down-arrow">
			<p><a href="home#strategy"> <img src="{{baseUrl}}/img/home/ipcs/downarrow.png" alt="" width="30"></a> </p>
		</div>
	</div>
</section>
<section class="toppadding" id="strategy">
	<div class="container">
		<div class="row">
			<div class="col-xl-10 col-lg-11 col-md-12 m-auto">
				<div class="row">
					<div class="col-lg-5 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"
						data-aos-once='true'>
						<div class="content d-flex flex-column justify-content-center h-100">
							<p class="heighlight">In today's chaotic world its a struggle for every brand to understand its
								creative needs.
								<br><br>Let's simplify…
							</p>
							<div class="actn">
								<a routerLink="/process" class="bthw">How ?</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 offset-lg-1 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"
						data-aos-once='true'>
						<div class="custom-collapse">
							<div class="accordion" id="accordionExample">
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingOne">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
											data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
											Branding/Re-branding
										</button>
									</h2>
									<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
										data-bs-parent="#accordionExample">
										<!-- show class removed  -->
										<div class="accordion-body">
											Whether it's a birth or an evolution of a brand, nothing stands out unless it has a soul. A brand
											today is all about how it makes your customers feel. It's not just a logo, visual identity, or
											website design. but rather a cohesive system that spans across all mediums and touchpoints. We're
											a brand design agency offering a complete solution from naming and logo design to communications
											and style guides.
											<a class="d-block more hover-underline-animation" href="/about#services1"
												data-scroll-nav="0">More</a>
										</div>
									</div>
								</div>

								<div class="accordion-item">
									<h2 class="accordion-header" id="headingThree">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
											data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											UX/UI Design
										</button>
									</h2>
									<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
										data-bs-parent="#accordionExample">
										<div class="accordion-body">
											UX/UI design is a defining factor for any digital
											product these days. We're a UX & UI design agency focused on improving conversion & increasing
											customer engagement. Our UX/UI design capabilities don't stop at mobile apps, web applications, or
											multi-platform digital experiences.
											As a UX design agency, we create products and
											services that provide outstanding usability while fully embracing your brand's personality.
											<a class="d-block more hover-underline-animation" href="/about#services2"
												data-scroll-nav="1">More</a>
										</div>
									</div>
								</div>

								<div class="accordion-item">
									<h2 class="accordion-header" id="headingFour">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
											data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
											eCommerce Solutions
										</button>
									</h2>
									<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree"
										data-bs-parent="#accordionExample">
										<div class="accordion-body">
											We're a web design agency creating next-level
											eCommerce websites on Magento 2++ by strategically blending user experience and brand
											storytelling.
											Our web designers & developers create responsive websites that feel at home on any device. Product
											landing pages, marketing sites, or UX UI for company intranet portals - we do it all.
											<a class="d-block more hover-underline-animation" href="/about#services3"
												data-scroll-nav="2">More</a>
										</div>
									</div>
								</div>

								<div class="accordion-item">
									<h2 class="accordion-header" id="headingSix">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
											data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											Web Application
										</button>
									</h2>
									<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree"
										data-bs-parent="#accordionExample">
										<div class="accordion-body">
											We're a digital agency that design and develop web based applications to manage business and
											create remote accessibility to manage operations from any where and any device.
											<a class="d-block more hover-underline-animation" href="/about#services4"
												data-scroll-nav="3">More</a>
										</div>
									</div>
								</div>

								<div class="accordion-item">
									<h2 class="accordion-header" id="headingSix">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
											data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
											SEO
										</button>
									</h2>
									<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree"
										data-bs-parent="#accordionExample">
										<div class="accordion-body">
											Rank your website top of the search engines, get traffic that can yield conversions and revenue.
											Instead of spending money on social media advertising and other marketing tactics, IngeniousPix Creative Studios is the
											organic SEO agency that helps companies win more customers by getting them found first in Google
											search.
											<a class="d-block more hover-underline-animation" href="/about#services5"
												data-scroll-nav="4">More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="topdist bannerdrk hard-work">
	<div class="container d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="d-flex justify-content-start align-items-center cmargin">
					<h1 class="text-white h1">
						<div class="line"></div> Recent Works
					</h1>
				</div>
			</div>
			<div class="col-md-9 m-auto">

				<div class="row">
					<div class="col-md-6" *ngFor="let project of allprojects; let i = index">
						<!-- if condition for animation sepration purpose -->
						<div class="imgblock">
							<!-- old code -->
							<!-- *ngIf="(i == 0 || i == 2 || i == 4)" -->
							<!-- <a href="{{project.link}}" target="_blank"> -->
							<!-- <img src="{{imagepath}}{{project.image}}" alt="">
							<div class="box-name text-center">
								<p class="mb-0 text-white h2">{{project.name}}</p>
								<p><span [innerHTML]="project.desc"></span></p>
							</div> -->
							<!-- </a> -->
							<!-- old code ends -->

							<owl-carousel-o [options]="desktopslider">
								<ng-container *ngFor="let slide of project.project_images">
									<ng-template class="slide" carouselSlide [id]="slide.id">
										<img [src]="imagepath+slide" [alt]="" [title]="">
										<div class="box-name text-center">
											<p class="mb-0 text-white h2">{{project.name}}</p>
											<p><span [innerHTML]="project.desc"></span></p>
										</div>
									</ng-template>
								</ng-container>
							</owl-carousel-o>



						</div>

						<!-- <div *ngIf="(i == 1 || i == 3)" class="imgblock" data-aos="fade-up-left" data-aos-duration="1000"
							data-aos-delay="100" data-aos-once='true'>
							<img src="{{imagepath}}{{project.image}}" alt="">
							<div class="box-name text-center">
								<p class="mb-0 text-white h2">{{project.name}}</p>
								<p><span [innerHTML]="project.desc"></span></p>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>




	</div>
	<!-- recent work slider code -->
	<div class="customslider d-block d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none" data-aos="fade-up"
		data-aos-duration="1000" data-aos-delay="100">
		<div class="col-md-10 offset-md-1">
			<div class="d-flex justify-content-start align-items-center cmargin">
				<h1 class="text-white h1">
					<div class="line"></div> Recent Works
				</h1>
			</div>
		</div>
		<owl-carousel-o [options]="recentoptions">

			<ng-container *ngFor="let project of allprojects; let i = index">
				<ng-template carouselSlide [id]="project+i">
					<!-- <a href="{{project.link}}" target="_blank"> -->
					<img src="{{imagepath}}{{project.project_images[0]}}">
					<div class="box-name text-center">
						<p class="mb-0 text-white h2">{{project.name}}</p>
						<p><span [innerHTML]="project.desc"></span></p>
					</div>
					<!-- </a> -->
				</ng-template>
			</ng-container>

		</owl-carousel-o>
	</div>
	<!-- recent work slider code -->
</section>

<!-- lets talk more -->
<section class="bannerdrk talk">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<div class="d-flex flex-column justify-content-center align-items-center video-block">
					<a routerLink="/projects" class="more d-none d-sm-none d-md-flex d-lg-flex d-xl-flex d-xxl-flex">More</a>
					<!-- (click)="loadMore()" -->
					<h1 class="mt-3 mb-0"><a routerLink="/contact">Let's <span class="">Talk</span></a></h1>
					<!-- <video width="320" height="240" controls poster="../../assets/img/home/play-shape.webp">
						<source src="https://www.youtube.com/embed/LcSevy6HUQc" type="video/mp4">
						<source src="https://www.youtube.com/embed/LcSevy6HUQc" type="video/ogg">
						Your browser does not support the video tag.
					</video> -->
					<!-- temparory commited the  -->
					<!-- <iframe width="800" height="400" src="https://www.youtube.com/embed/LcSevy6HUQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen poster="{{baseUrl}}/img/home/play-shape.webp"></iframe> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- lets talk more -->
<!-- dark creativit section -->
<section class=" bannerdrk creativity">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<div class="row">
					<div class="col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
						<div class="creative">
							<!-- <h1><span>Creativity</span><br />is at the soul of all our projects.</h1> -->
							<h1 class="d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block">Creative Solutions <span
									class="barcy"> Simplified </span></h1>
							<h1 class="d-block d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">Creative
								<br />Solutions<br /><span class="barcy"> Simplified </span>
							</h1>
						</div>
					</div>
					<div class="col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
						<div class="d-flex justify-content-center align-items-center h-100">
							<p class="mb-0">As a full-service design agency, we work closely with you to understand, define, design &
								develop transformative creative solutions for your business.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- dark creativit section -->
<!-- slider -->
<section class="story">
	<div class="container-fluid p-0">
		<!-- <div class="row"> -->
		<div class="col-md-12 p-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
			<div class="d-flex flex-column align-items-center">
				<div class="content-block">
					<h1>And our creativity</h1>
					<h1>Inspired by <span>your story</span></h1>
				</div>
			</div>
			<div class="customslider">
				<owl-carousel-o [options]="customOptions">
					<!-- [ngClass]="{ item: true }" -->
					<ng-container *ngFor="let slide of slides">
						<!-- [ngClass]="{ item: true }" -->
						<ng-template carouselSlide [id]="slide.id">
							<img [src]="slide.img">
						</ng-template>
					</ng-container>

				</owl-carousel-o>
			</div>
		</div>
		<!-- </div> -->
	</div>
</section>
<!-- slider -->
