<!-- <footer *ngIf="!removeFooter()" class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-11 m-auto">
				<div class="desb">
				<p class="text-center">Describe your project</p>
				<div class="describe d-flex flex-row justify-content-center">
					<img class="qrcode" src="{{baseUrl}}/img/logos/qr-code-call-pixtar.svg" alt="qrcode">

				</div>
			</div>
			<nav class="footer-nav">

				<div class="d-flex justify-content-between align-items-start footer-block">
					<div class="d-flex1 ">
						<p>Pixtar Branding Services LLC.</p>
						<p>Dubai United Arab Emirates</p>
						<p>+971527930781</p>
					</div>
					<div class="d-flex2">
						<ul class="mb-0">
							<li><a routerLink="/projects">Projects</a></li>
							<li><a routerLink="/process">Process</a></li>
							<li><a routerLink="/about">About</a></li>
						</ul>
					</div>
					<div class="social-links">
						<ul class="mb-0">
							<li>

								<a href="#"><img src="{{baseUrl}}/img/home/facebook.svg" alt="" width="48" height="48"> </a>
								<a href="#"><img src="{{baseUrl}}/img/home/instagram.svg" alt="" width="48" height="48"> </a>
								<a href="#"><img src="{{baseUrl}}/img/home/twitter.svg" alt="" width="48" height="48"> </a>
								<a href="#"><img src="{{baseUrl}}/img/home/linkedin.svg" alt="" width="48" height="48"> </a>
							</li>
						</ul>
					</div>
				</div>

			</nav>
		</div>
			<div class="credits ml-auto">
				<span class="copyright">
					© {{test | date: 'yyyy'}}, All Rights Reserved Pixtar
				</span>
			</div>
		</div>
	</div>
</footer> -->

<!-- *ngIf="removeFooter()" -->
<footer  class="footer footerBlk">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-11 m-auto">
				<div class="desb">
				<p class="text-center">Describe your project</p>
				<div class="describe d-flex flex-row justify-content-center">
					<a class="" routerLink="p/kbn" target="_blank">	<img class="qrcode" src="{{baseUrl}}/img/logos/ipcs/qr-code-call-pixtar-white.svg" alt="qrcode"></a>
					<!-- <div class="call">
						<h2 class="m-0 ms-3">Call</h2>
						<h1 class="m-0 ms-3">Pixtar</h1>
					</div> -->
				</div>
			</div>
			<nav class="footer-nav">

				<div class="d-flex justify-content-between align-items-start footer-block">
					<div class="d-flex1 ">
            <p>Creative agency based in Hubli, </p>
            <p>Karnataka, India</p>
            <p class="text-color">+91 984 577 0808</p>
					</div>
					<div class="d-flex2">
						<ul class="mb-0">
							<li><a routerLink="/projects">Projects</a></li>
							<li><a routerLink="/process">Process</a></li>
							<li><a routerLink="/about">About</a></li>
						</ul>
					</div>
					<div class="social-links">
						<ul class="mb-0">
							<li class="opacity-0">

								<a href="#"><img src="{{baseUrl}}/img/home/facebook-white.svg" alt="" width="48" height="48"> </a>
								<a href="#"><img src="{{baseUrl}}/img/home/instagram-white.svg" alt="" width="48" height="48"> </a>
								<a href="#"><img src="{{baseUrl}}/img/home/twitter-white.svg" alt="" width="48" height="48"> </a>
								<a href="#"><img src="{{baseUrl}}/img/home/linkedin-white.svg" alt="" width="48" height="48"> </a>
							</li>
						</ul>
					</div>
				</div>

			</nav>
		</div>
			<div class="credits ml-auto">
				<span class="copyright">
					© {{test | date: 'yyyy'}}, All Rights Reserved IngeniousPix Creative Studios
					<!-- made with <i class="fa fa-heart heart"></i> by <a href="https://www.ingeniouspix.com">Ingeniouspix.com</a> -->
				</span>
			</div>
		</div>
	</div>
</footer>
<a class="whatsapp-icon slideUpReturn tabmob" href="https://wa.me/+919845770808" target="_blank">
	<img src="{{baseUrl}}/img/home/whatsapp.svg" alt="whatsapp" />
</a>
